
<section class="container-fluid">
<!--    <div class="row-fluid">-->
    <div class="row" id="areaScreen">    
    <!--Operations areas-->
    <div class="col-sm-3 col-md-8 col-lg-8">
        <div class="container-fluid">
            <h1 style="font-size:80px;">{{nacelle.areas[areaItem].name}}</h1>
            <div class="{{sub.opStyle}}" ng-repeat="sub in nacelle.areas[areaItem].subs">
                <input type="checkbox" id="{{sub.name}}" ng-model="sub.trigger" ng-disabled="true">
                <label  for="{{sub.name}}"><a href="#/users/{{areaItem}}/{{sub.name}}">{{sub.name}}</a></label>
            </div>
        </div>
        </div>
       <!--Weather Time Date -->
            <div class="col-sm-6 col-md-3 col-lg-3" id="timedateArea">
                 <div class="container-fluid">
                <div id="areaScreenContainer"> Local </div>
                <table id="areaInfoStyle" style="width:100%;">
                    <tr>
                        <td style="text-align:center;" my-current-time="'M/d/yy h:mm a'"></td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <angular-openweathermap city-name="Brighton, CO" offset-hours="-4" offset-minutes="0"></angular-openweathermap>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
        <!--Nacelle Takt Information-->
        <div class="row" id="areaScreen">   
        <div class="col-sm-3 col-md-3 col-lg-3" id="infoAreaNac">
                <h1>Nacelle</h1>
            <table style="width:100%;" class="areaScreenTable">
                            <tr>
                                <td>Takt</td>
                                <td>{{nacInfo.actualTakt | number:1}}</td>
                            </tr>
                             <tr>
                                <td>Status</td>
                                <td class="{{nacelle.status}}">{{nacelle.status}}</td>
                            </tr>
                        </table>
            </div>
            <!--Nacelle Count Information-->
            <div class="col-sm-2 col-md-2 col-lg-2" id="infoAreaNac">
                  <h1>Count</h1>
                    <table style="width:100%" class="areaScreenTable">
                        <tr style="text-align:center">
            <tr>
                <td>Actual</td>
                <td>{{nacInfo.actualGoal}}</td>
            </tr>
            <tr>
                <td>Goal</td>
                <td>{{nacInfo.weeklyGoal}}</td>
            </tr>
        </table>
            </div>
            <!--Support Area Labels-->
        <div class=" col-sm-2 col-md-3 col-lg-3">
            <div class="container-fluid">
            <div class="areaSection">
            <h1 style="text-align:left">Support</h1>
            <div class="L_area">
                <input type="checkbox" id="L_area">
                <label for="L_area">L</label>
            </div>
                 <div class="M_area">
                <input type="checkbox" id="M_area">
                <label for="M_area">M</label>
            </div>
                 <div class="Q_area">
                <input type="checkbox" id="Q_area">
                <label for="Q_area">Q</label>
            </div>
                 <div class="TS_area">
                <input type="checkbox" id="TS_area">
                <label for="TS_area">TS</label>
            </div>
           
        </div>
        </div>
        </div>
    </div>
</section>

    