<!--<meta http-equiv="refresh" content="3600" />-->

<section class="container-fluid">

<!--ROW 1 Supp Buttons, Weather, counts-->
<div class="row">
    <div class="container-fluid">
        <!-- Support Buttons-->
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="container-fluid">
                <div class="row">
                    <section class="">
                        <div id="areaContainer"> Support </div>
                        <div id="suppBtns">
                        <div class="{{supp.name}}" ng-repeat="supp in supps" ng-disabled="!config.mainBtnsDisabled">
                            <input type="checkbox" id="{{supp.name}}">
                            <label for="{{supp.name}}">{{supp.name}}</label>
                        </div>
                            </div>
                    </section>
                </div>
            </div>
        </div>
        <!--time/date/weather-->
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="container-fluid">
                <div id="areaContainer"> Local </div>
                <table id="timeStyle">
                    <tr>
                        <td my-current-time="'M/d/yy h:mma'"></td>
                    </tr>
                    <tr>
                        <td>
                            <angular-openweathermap city-name="Brighton, CO" offset-hours="-4" offset-minutes="0"></angular-openweathermap>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--Turbine image-->
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="container-fluid"> <img src="img/windTurbine.gif" alt="windTurbine" style="width:100%;height:100%;"> </div>
        </div>
        <!--Counts-->
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="container-fluid">
                <div id="areaContainer"> Complete </div>
                <table id="infoStyle">
                    <tr>
                        <td></td>
                        <td>Actual</td>
                        <td>Goal</td>
                    </tr>
                    <tr>
                        <td>v110</td>
                        <td>{{nacInfo.actualGoal}}</td>
                        <td>{{nacInfo.weeklyGoal}}</td>
                    </tr>
                    <tr>
                        <td>v136</td>
                        <td>{{hubInfo.actualGoal}}</td>
                        <td>{{hubInfo.weeklyGoal}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
    
<!--ROW 2 Hub and Info-->
    <div class="row" id="">
        <div class="container-fluid">

        <!--V110 Shell Line info-->
          <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="container-fluid">
                    <div id="areaContainer">{{firstLine.name}}</div>
                    <div>
                        <table id="infoStyle">
                            <tr>
                                <td>Takt Time</td>
                                <td>{{firstLineInfo.staticTakt}}</td>
                            </tr>
                            <tr>
                                <td>Actual Takt</td>
                                <td>{{firstLineInfo.actualTakt | number:1}}</td>
                            </tr>
                            <tr>
                                <td>Accumulated</td>
                                <td style="color:{{firstLineInfo.accTimeColor}};">{{firstLineInfo.accTime | number:1}}</td>
                            </tr>
                            <tr>
                                <td>Last Step</td>
                                <td>{{firstLineInfo.lastStep | date:'shortTime'}}</td>
                            </tr>
                             <tr>
                                <td>Status</td>
                                <td class="{{firstLine.status}}">{{firstLine.status}}</td>
                            </tr>
                        </table>
                    </div>
                        </div>
               <table id="infoStyle">
                    <tr>
                        
                        <td>Actual</td>
                        <td style="background-color: #222222">To date</td>
                        <td>Goal</td>
                    </tr>
                    <tr> 
                        <td>{{firstLineInfo.actualGoal}}</td>
                        <td>15</td>
                        <td>{{firstLineInfo.weeklyGoal}}</td>
                    </tr>
                   
                </table>
                     <div ng-repeat="item in firstLine.areas">
                <div class="">
                    <div id="areaLabels" class="{{item.style}}">
                        <input type="checkbox" id="{{ item.name }}" ng-model="item.trigger" ng-disabled="!config.mainBtnsDisabled">
                        <label for="{{ item.name }}"><a href="#/area/{{item.name}}">{{ item.name }}</a> </label>
                    </div>
                </div>
            </div>
                </div>
        <!-- v136 Shell info -->
        <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="container-fluid">
                    <div id="areaContainer">{{secondLine.name}}</div>
                    <div>
                        <table id="infoStyle">
                            <tr>
                                <td>Takt Time</td>
                                <td>{{secondLineInfo.staticTakt}}</td>
                            </tr>
                            <tr>
                                <td>Actual Takt</td>
                                <td>{{secondLineInfo.actualTakt | number:1}}</td>
                            </tr>
                            <tr>
                                <td>Accumulated</td>
                                <td style="color:{{secondLineInfo.accTimeColor}};">{{secondLineInfo.accTime | number:1}}</td>
                            </tr>
                            <tr>
                                <td>Last Step</td>
                                <td>{{secondLineInfo.lastStep | date:'shortTime'}}</td>
                            </tr>
                             <tr>
                                <td>Status</td>
                                <td class="{{secondLineInfo.status}}">{{secondLineInfo.status}}</td>
                            </tr>
                        </table>
                    </div>
                        </div>
               <table id="infoStyle">
                    <tr>
                        
                        <td>Actual</td>
                        <td style="background-color: #222222">To date</td>
                        <td>Goal</td>
                    </tr>
                    <tr> 
                        <td>{{secondLineInfo.actualGoal}}</td>
                        <td>15</td>
                        <td>{{secondLineInfo.weeklyGoal}}</td>
                    </tr>
                   
                </table>
                     <div ng-repeat="item in secondLine.areas">
                <div class="">
                    <div id="areaLabels" class="{{item.style}}">
                        <input type="checkbox" id="{{ item.name }}" ng-model="item.trigger" ng-disabled="!config.mainBtnsDisabled">
                        <label for="{{ item.name }}"><a href="#/area/{{item.name}}">{{ item.name }}</a> </label>
                    </div>
                </div>
            </div>
                </div>
        <!--Finish info-->
         <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="container-fluid">
                    <div id="areaContainer">{{thirdLine.name}}</div>
                    <div>
                        <table id="infoStyle">
                            <tr>
                                <td>Takt Time</td>
                                <td>{{thirdLineInfo.staticTakt}}</td>
                            </tr>
                            <tr>
                                <td>Actual Takt</td>
                                <td>{{thirdLineInfo.actualTakt | number:1}}</td>
                            </tr>
                            <tr>
                                <td>Accumulated</td>
                                <td style="color:{{thirdLineInfo.accTimeColor}};">{{thirdLineInfo.accTime | number:1}}</td>
                            </tr>
                            <tr>
                                <td>Last Step</td>
                                <td>{{thirdLineInfo.lastStep | date:'shortTime'}}</td>
                            </tr>
                             <tr>
                                <td>Status</td>
                                <td class="{{thirdLineInfo.status}}">{{thirdLineInfo.status}}</td>
                            </tr>
                        </table>
                    </div>
                        </div>
               <table id="infoStyle">
                    <tr>
                        
                        <td>Actual</td>
                        <td style="background-color: #222222">To date</td>
                        <td>Goal</td>
                    </tr>
                    <tr> 
                        <td>{{thirdLineInfo.actualGoal}}</td>
                        <td>15</td>
                        <td>{{thirdLineInfo.weeklyGoal}}</td>
                    </tr>
                   
                </table>
                     <div ng-repeat="item in thirdLine.areas">
                <div class="">
                    <div id="areaLabels" class="{{item.style}}">
                        <input type="checkbox" id="{{ item.name }}" ng-model="item.trigger" ng-disabled="!config.mainBtnsDisabled">
                        <label for="{{ item.name }}"><a href="#/area/{{item.name}}">{{ item.name }}</a> </label>
                    </div>
                </div>
            </div>
                </div>
        
        </div>
    </div>    

<!--Row 3 Nacelle Areas EMPTY-->
    <div class="row" id="">
        <div class="container-fluid">
           
        </div>
    </div>
</section>