
<section class="card login">
    <form name="myform" ng-submit="register()" 
          novalidate>
        
        <div class="login">
            <div class="textintro">
                <h2>Vestas Factory Portal</h2>
                <h3 style="color: red" class="message" ng-show="regMessage"> {{ regMessage }}</h3><br><br>
                <h3 style="color: green" class="message" ng-show="message"> {{ message }}</h3><br><br>
            </div>
            <fieldset>
                <input ng-hide="message" type="firstname" name="firstname" placeholder="First Name" ng-model="firstname" ng-required="true" ng-disabled="regMessage"> <br><br>
                
                <input ng-hide="message" type="lastname" name="lastname" placeholder="Last Name" ng-model="lastname" ng-required="true" ng-disabled="regMessage"> <br><br>
                
                <input ng-hide="message" type="email" name="email" placeholder="Email" ng-model="email" ng-required="true" ng-disabled="regMessage">
                
                <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched"> Must be a valid email</p><br><br>
                
                <input ng-hide="message" type="password" name="password" placeholder="Password" ng-model="password" ng-required="true" ng-disabled="regMessage">
                
                <p class="error validationerror" ng-show="myform.password.$invalid && myform.email.$touched"> Password is required</p><br><br>
                
            </fieldset>
            <br>
            <button ng-hide="message" type="submit" class="btn" ng-disabled="myform.$invalid">Register</button>
            <br>
            <h3 style="color: red" class="message" ng-show="error"> {{ error }}</h3><br><br>
            <br>
            <p ng-show="regMessage">Contact<a ng-href="mailto:vfpmailbox@vestas.com"> administrator</a> for access</p>
    </form>
</section>
</div>